@charset "UTF-8";

body{
    background-image: linear-gradient(to top, yellow, black);
    background-attachment: fixed;
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #575716;
    text-align: center;
}
h2{
    color: black;
}